The goal is to create an index matching unique file ID to DA's information by last name

In [3]:
import pandas as pd

In [5]:
main = pd.read_csv('criminal_main.csv',encoding="latin-1" )

In [24]:
da = pd.read_csv('da_last_name_dictionary.csv',names=['DistrictAttorney','da_last_name'])

In [22]:
clean_da = pd.read_csv('clean_da.csv')

In [6]:
main.head()

,Unnamed: 0,File,CaseName,CivilKriminal,Court,County,Judge,DistrictAttorney,ADA,Keywords,...,Defense,First_Date,Appeal_Date,FirstD_dow,AppealD_dow,FirstD_weekday,AppealD_weekday,FirstD_month,AppealD_month,Y
0,0,2009_08295.htm.txt,NaN,K,County Court,Niagara County,"Peter L. Broderick, Sr., J.",Michael J. Violante,Thomas H. Brandt,affirmed,...,NaN,11/9/07,11/13/09,Friday,Friday,1,1,11.0,11,0
1,1,2009_08296.htm.txt,NaN,K,County Court,Oneida County,"Michael L. Dwyer, J.",Scott D. McNamara,Steven G. Cox,affirmed;interest of justice,...,NaN,11/6/06,11/13/09,Monday,Friday,1,1,11.0,11,0
2,2,2009_08297.htm.txt,NaN,K,County Court,Onondaga County,"Joseph E. Fahey, J.",William J. Fitzpatrick,Victoria M. White,affirmed;modified;interest of justice,...,Legal Aid Society,10/18/06,11/13/09,Wednesday,Friday,1,1,10.0,11,1
3,3,2009_08298.htm.txt,NaN,K,County Court,Niagara County,"Angelo J. Morinello, A.J.",NaN,NaN,affirmed,...,NaN,11/2/07,11/13/09,Friday,Friday,1,1,11.0,11,0
4,4,2009_08311.htm.txt,NaN,K,County Court,Onondaga County,"Joseph E. Fahey, J.",William J. Fitzpatrick,James P. Maxwell,affirmed;dismissed;interest of justice,...,Legal Aid Society,4/21/05,11/13/09,Thursday,Friday,1,1,4.0,11,1

In [8]:
index_table = main[['File','DistrictAttorney']]

In [10]:
index_table.head()

                 File        DistrictAttorney
0  2009_08295.htm.txt     Michael J. Violante
1  2009_08296.htm.txt       Scott D. McNamara
2  2009_08297.htm.txt  William J. Fitzpatrick
3  2009_08298.htm.txt                     NaN
4  2009_08311.htm.txt  William J. Fitzpatrick

In [28]:
da.head()

         DistrictAttorney da_last_name
0     Michael J. Violante     Violante
1       Scott D. McNamara     McNamara
2  William J. Fitzpatrick  Fitzpatrick
3     R. Michael Tantillo     Tantillo
4       Edward M. Sharkey      Sharkey

In [26]:
merged_keys = index_table.merge(da,how='left',on='DistrictAttorney')

In [27]:
merged_keys.head()

                 File        DistrictAttorney da_last_name
0  2009_08295.htm.txt     Michael J. Violante     Violante
1  2009_08296.htm.txt       Scott D. McNamara     McNamara
2  2009_08297.htm.txt  William J. Fitzpatrick  Fitzpatrick
3  2009_08298.htm.txt                     NaN          NaN
4  2009_08311.htm.txt  William J. Fitzpatrick  Fitzpatrick

In [23]:
clean_da.head()

,Unnamed: 0,da_last_name,start year,left office,female,black,county,1976,1977,1978,...,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested,Unnamed: 64,university
0,0,Soares,2004.0,NaN,0,1,Albany,0,0,0,...,0,0,0,0,0,0,0,0,NaN,albany
1,1,Clyne,2000.0,2004.0,0,0,Albany,0,0,0,...,0,0,0,0,0,0,0,0,NaN,albany
2,2,Greenberg,1974.0,2000.0,0,0,Albany,0,0,1,...,0,0,0,0,0,0,0,0,NaN,albany
3,3,Slep,2011.0,NaN,0,0,Allegany,0,0,0,...,0,0,0,0,0,0,0,0,NaN,syracuse
4,4,Parker,1997.0,2010.0,0,0,Allegany,0,0,0,...,0,1,0,0,0,0,0,0,NaN,pace

In [29]:
clean_da_indexed = merged_keys.merge(clean_da, how='left', on='da_last_name')

In [30]:
clean_da_indexed.head()

,File,DistrictAttorney,da_last_name,Unnamed: 0,start year,left office,female,black,county,1976,...,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested,Unnamed: 64,university
0,2009_08295.htm.txt,Michael J. Violante,Violante,71.0,2007.0,NaN,0.0,0.0,Niagara,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,suffolk
1,2009_08296.htm.txt,Scott D. McNamara,McNamara,73.0,2007.0,NaN,0.0,0.0,Oneida,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,vermont
2,2009_08297.htm.txt,William J. Fitzpatrick,Fitzpatrick,75.0,1991.0,NaN,0.0,0.0,Onondaga,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,syracuse
3,2009_08298.htm.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009_08311.htm.txt,William J. Fitzpatrick,Fitzpatrick,75.0,1991.0,NaN,0.0,0.0,Onondaga,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,syracuse

In [31]:
clean_da_indexed.to_csv('DA_keys.csv')