In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_file = pd.read_excel('../Raw Data/DA.xlsx')

In [3]:
raw_file.head(3)

,county,DA,start year,reelection,left office,Unnamed: 5,female,black,law school,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Albany,Soares,2004,2008; 2012,NaN,NaN,0.0,1.0,Albany,"2012 - uncontested in general, contested in pr...",...,NaN,"2008 - contested - both - primary 60.5%, gener...",NaN,NaN,NaN,NaN,NaN,2004 - contested - 54.6%,NaN,NaN
1,NaN,Clyne,2000,2004,2004.0,NaN,0.0,0.0,Albany,2004 - lost re-election in primary (D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Greenberg,1974,1978; 1982; 1986; 1990; 1994; 1988,2000.0,NaN,0.0,0.0,Albany (1948),retired in 2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
working_df = raw_file.copy()

In [5]:
working_df.shape

(136, 25)

In [6]:
raw_file.columns

Index(['county', 'DA', 'start year', 'reelection', 'left office', 'Unnamed: 5',
       'female', 'black', 'law school', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

#### County

In [13]:
working_df['county'].unique()

array(['Albany', nan, 'Allegany', 'Bronx', 'Broome', 'Cattaraugus',
       'Cayuga', 'Chautauqua', 'Chemung', 'Chenango', 'Clinton',
       'Columbia', 'Cortland', 'Delaware', 'Dutchess', 'Erie', 'Essex',
       'Franklin', 'Fulton', 'Genesee', 'Greene', 'Hamilton', 'Herkimer',
       'Jefferson', 'Kings', 'Lewis', 'Livingston', 'Madison', 'Monroe',
       'Montgomery', 'Nassau', 'New York', 'Niagara', 'Oneida', 'Onondaga',
       'Ontario', 'Orange', 'Orleans', 'Oswego', 'Otsego', 'Putnam',
       'Queens', 'Rensselaer', 'Richmond', 'Rockland', 'St. Lawrence',
       'Saratoga', 'Schenectady', 'Schoharie', 'Schuyler', 'Seneca',
       'Steuben', 'Suffolk', 'Sullivan', 'Tioga', 'Tompkins', 'Ulster',
       'Warren', 'Washington', 'Wayne', 'Westchester', 'Wyoming', 'Yates'], dtype=object)

In [23]:
#Rows with missing county
working_df[working_df['county'].isnull()]

,county,DA,start year,reelection,left office,Unnamed: 5,female,black,law school,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
1,NaN,Clyne,2000,2004,2004.0,NaN,0.0,0.0,Albany,2004 - lost re-election in primary (D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Greenberg,1974,1978; 1982; 1986; 1990; 1994; 1988,2000.0,NaN,0.0,0.0,Albany (1948),retired in 2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Parker,1997,2001; 2005; 2009,2010.0,won judge seat,0.0,0.0,Pace (1981),2009 - contested (R-C) 64.4%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Johnson,1987,1991; 1995; 1999; 2003; 2007; 2011,2015.0,appoint to judge,0.0,1.0,NYU,2011 - uncontested -both (D-R-C),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Mollen,1987,1987; 1991; 1995; 1999; 2003; 2007; 2011; 2015,2015.0,NaN,0.0,0.0,George Washington,2011 - uncontested - both (D-WF),...,NaN,NaN,NaN,NaN,2003 - uncontested - both - (D),NaN,NaN,NaN,NaN,NaN
10,NaN,Sharkey,1997,2001; 2005; 2009,2009.0,NaN,0.0,0.0,Buffalo,2009 - lost re-election (D-I-C),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Vargason,1995,1999; 2003,2003.0,retired,0.0,NaN,NaN,2003 - contested (R-C) 63.8%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Subjack,1993,1997; 2001,2005.0,NaN,0.0,0.0,Illinois (1972),2001 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Trice,2000,2003; 2007,2007.0,NaN,0.0,0.0,Syracuse (1984),2007 - lost re-election in primary 36%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,O'Mara,1988,1992; 1996; 2000,2000.0,elected as state sentator,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Hayden,1982,NaN,1988.0,won judge seat,0.0,0.0,Albany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Crew,1972,1976; 1980,1982.0,won judge seat,0.0,0.0,Albany (1962),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Cozzolino,1995,1999; 2003; 2007,2011.0,left office to run for judge,1.0,0.0,Western New England,2007 - contested 54.3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Czajka,1987,1991,1995.0,elected to judge,0.0,0.0,Western New England (1971),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Hartnett,2004,2008,2008.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Northrup,2004?,2008; 2012,2015.0,ran for judge,0.0,0.0,Albany (1984),2012 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Clark,1996,2000; 2004,2008.0,NaN,0.0,0.0,Buffalo,2004 - uncontested,...,1996 - contested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Garcia,2005,2009,2009.0,lost re-election,1.0,0.0,Albany,2009 - contested (R),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,Briggs,1993,1997; 2001,2005.0,lost re-election in primary,0.0,0.0,Tulane,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,MacNeill,2014,2015,2015.0,"appointed to fill vacancy, lost re-election",NaN,NaN,NaN,2015 - lost primary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,Champagne,2002,2006; 2010,2014.0,elected to judge,0.0,0.0,New Hampshire,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,???,NaN,NaN,2002.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,Sira,2002,NaN,2015.0,elected to judge,1.0,0.0,Albany 1993,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,Giardino,1991,1995,1996.0,appoint (then elected) to judge,NaN,NaN,Albany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,Bucca,2013,NaN,2013.0,interim when DA left before the next election.,0.0,0.0,Albany (1999),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,Wilhelm,1999,2003; 2007; 2011,2013.0,elected to county judge,0.0,0.0,Albany (1980),2011 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,Curry,1992,1996; 2000; 2004; 2008,NaN,did not run for re-election,0.0,0.0,? (1978),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,Murphy,1991,1995; 1999; 2003,2007.0,NaN,0.0,0.0,Albany (1977),2003 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,Arcuri,1993,1995; 1999; 2003,2007.0,elected to Congress,0.0,0.0,NYU (1984),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,Phillips,1985,1989; 1993; 1997; 2001; 2005; 2009,2013.0,NaN,0.0,0.0,Albany (1974),2009 - uncontested (R-I-C),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,Dodd,1999,2003; 2007,2011.0,NaN,0.0,0.0,New Hampshire (1984),2007 - uncontested,...,1999 - uncontested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,Wright,1999,2003,NaN,left office in 2007 for private practice,0.0,0.0,NaN,2003 - uncontested (R-I-C),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,Glass,2013,NaN,2014.0,acting DA,0.0,0.0,Western New England (1983),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,McNally,2007,2011,2013.0,elected to Supreme Court0,0.0,0.0,St. Johns,2011 - contested 52.8%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,DeAngelis,2003,2003,2006.0,first appointed,1.0,0.0,Albany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,Bruno,1997,2001,2003.0,left for private practice,0.0,0.0,Western New England (1990),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,Master,2015,NaN,2015.0,acting DA,0.0,0.0,Georgetown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,Donovan,2003,2007; 2011,2015.0,elected to Congress,0.0,0.0,Fordham (1988),2011 - contested - both (R-I) 67.5%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,Murphy,1982,1983; 1987; 1991; 1995; 1999,2003.0,retired,0.0,0.0,Harvard,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,Bongiorno,1995,1995; 1999; 2003; 2007,2007.0,lost re-election,0.0,0.0,Washington and Lee (1981),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,Duve,2005,2009; 2013,2013.0,lost re-election,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,Richards,1996,2000; 2004,2005.0,elected to judge,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,Murphy,1997,2001; 2005; 2009; 2013,2014.0,elected to judge,0.0,0.0,Pace (1986),2013 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,Swineheart,2001,2005; 2009,2009.0,lost re-election in primary,0.0,0.0,Baltimore (1988),2009 - contested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,Tunney,1987,1991; 1995; 1999; 2003; 2007,2011.0,NaN,0.0,0.0,Cornell,2007 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,Lungen,1981,1985; 1989; 1993; 1997; 2001; 2005,2009.0,NaN,NaN,NaN,Brooklyn (1973),Stephen F. Lungen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,Jaffe,NaN,NaN,1981.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,Keene,1999,2003; 2007; 2011,2012.0,NaN,0.0,0.0,Syracuse (1980),2011 - uncontested (R),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,Dentis,1993,1997; 2001,NaN,NaN,0.0,0.0,NaN,2001- uncontested,...,1993 - contested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,William,1997,1999; 2003,2007.0,"retired in 2007, now judge",0.0,0.0,NaN,2003 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,Winn,2009,NaN,2013.0,NaN,0.0,0.0,NaN,2009 - contested (R-C),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,Kortright,NaN,2005,2009.0,NaN,0.0,0.0,NaN,2005 - uncontested,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,Pirro,1993,1997; 2001,2005.0,ran for another position,1.0,0.0,Albany (1975),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,Stout,1994,1994; 1998; 2002; 2006,2010.0,retired,0.0,0.0,Syracuse (1972),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,Cook,2009,2013,NaN,lost re-election,0.0,0.0,Penn State,2013 - contested 49.2%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,Lindenmuth,1995,2001; 2005,2009.0,NaN,1.0,0.0,George Washington,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Counties are arranged in alphabetical order. Hence need to repeat them to fix missing values
import math

updated_counties = []
counties = working_df['county']

for county in counties:
    #Replace empty entries with the current county
    try:
        math.isnan(county)
    except TypeError:
        current_county = county
        
    #If encounter a new county    
    updated_counties.append(current_county)

In [5]:
#updated_counties

In [6]:
working_df.drop('county',axis=1,inplace=True)

In [7]:
working_df['county']=updated_counties

#### DA Name

In [9]:
working_df.rename(index=str,columns={'DA':'da_last_name'},inplace=True)

In [28]:
#Number of unique names
working_df['da_last_name'].unique().shape[0]

127

In [29]:
#DA last names
working_df['da_last_name'].unique()

array(['Soares', 'Clyne', 'Greenberg', 'Slep', 'Parker', 'Clark',
       'Johnson', 'Cornwell', 'Mollen', 'Rieman', 'Sharkey', 'Budelman',
       'Vargason', 'Foley', 'Subjack', 'Wetmore', 'Trice', "O'Mara",
       'Hayden', 'Crew', 'McBride', 'Wylie', '???', 'Czajka', 'Cozzolino',
       'Suben', 'Hartnett', 'Hubbard', 'Northrup', 'Grady', 'Sedita',
       'Sprague', 'Garcia', 'Briggs', 'Carriero', 'MacNeill', 'Champagne',
       'Brown', 'Sira', 'Giardino', 'Friedman', 'Stanzione', 'Bucca',
       'Wilhelm', 'Purdue', 'Curry', 'Carpenter', 'Crandall', 'Daley',
       'Intschert', 'Thompson', 'Hynes', 'Moser', 'Young', 'McCaffrey',
       'Schiener', 'Moran', 'Gabor', 'Aumell', 'Cerio', 'Doorley', 'Green',
       'Relin', 'Conboy', 'Tomlinson', 'Singas', 'Rice', 'Dillon', 'Vance',
       'Morgenthau', 'Violante', 'Murphy', 'McNamara', 'Arcuri',
       'Fitzpatrick', 'Tantillo', 'Hoovler', 'Phillips', 'Cardone',
       'Oakes', 'Dodd', 'Muehl', 'Levy', 'Wright', 'Abelove', 'Glass',
       'McNally', 'DeAngelis', 'Bruno', 'McMahon', 'Master', 'Donovan',
       'Zugibe', 'Bongiorno', 'Rain', 'Duve', 'Richards', 'Heggen',
       'Carney', 'Sacket', 'Fazzary', 'Porsch', 'Swineheart', 'Baker',
       'Tunney', 'Spota', 'Farrell', 'Lungen', 'Jaffe', 'Martin', 'Keene',
       'Wilkinson', 'Dentis', 'Carnright', 'William', 'Hogan', 'Jordan',
       'Winn', 'Kortright', 'Healy', 'DiFiore', 'Pirro', "O'Green",
       'Stout', 'Gardner', 'Cook', 'Lindenmuth'], dtype=object)

In [30]:
#Handle missing DA names
working_df[working_df['da_last_name']== '???']

,da_last_name,start year,reelection,left office,Unnamed: 5,female,black,law school,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,county
22,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinton
28,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cortland
40,???,NaN,NaN,2002.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Franklin
43,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fulton
124,???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Warren

In [10]:
#Drop rows with missing DA names
working_df = working_df[working_df['da_last_name']!= '???']

#### Start Year

In [32]:
working_df['start year'].unique()

array([2004, 2000, 1974, 2011, 1997, 2015, 1987, 2009, 2007, 1995, 2005,
       1993, 1988, 1982, 1972, 1999, 2008, '2004?', 1983, 1996, 2014, 2002,
       1991, 2013, 1992, 2012, 1989, 2003, 1985, 1973, nan, 1990, 2001,
       1981, '2003?', 2010, 1994], dtype=object)

In [33]:
#Missing start year
working_df[working_df['start year'].isnull()]

,da_last_name,start year,reelection,left office,Unnamed: 5,female,black,law school,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,county
86,Muehl,NaN,2003; 2007; 2011; 2015,NaN,NaN,0.0,0.0,NaN,2015 - uncontested,NaN,...,NaN,NaN,2003 - uncontested,NaN,NaN,NaN,NaN,NaN,NaN,Otsego
116,Jaffe,NaN,NaN,1981.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sullivan
127,Kortright,NaN,2005,2009.0,NaN,0.0,0.0,NaN,2005 - uncontested,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington

In [34]:
#Unconfirmed year
working_df[(working_df['start year']== '2004?') | (working_df['start year'] == '2003?')]

,da_last_name,start year,reelection,left office,Unnamed: 5,female,black,law school,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,county
30,Northrup,2004?,2008; 2012,2015.0,ran for judge,0.0,0.0,Albany (1984),2012 - uncontested,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Delaware
128,Healy,2003?,2007; 2011; 2015,NaN,not sure when he started?!,0.0,0.0,NaN,2011 - uncontested (R-C),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wayne

#### Re-election Year

In [12]:
reelection_years = working_df['reelection'].unique()

In [13]:
reelection_years

array(['2008; 2012', 2004, '1978; 1982; 1986; 1990; 1994; 1988',
       '2011; 2015', '2001; 2005; 2009', nan,
       '1991; 1995; 1999; 2003; 2007; 2011',
       '1987; 1991; 1995; 1999; 2003; 2007; 2011; 2015', 2013,
       '1999; 2003', '2005; 2009; 2013', '1997; 2001', '2003; 2007',
       '1992; 1996; 2000', '1976; 1980', '2003; 2007; 2011; 2015',
       '2009; 2013', 2015, '1999; 2003; 2007', 1991, '2012; 2016', 2008,
       2016, 2012, '2000; 2004', 2009, '2006; 2010', 1995,
       '2001; 2005; 2009; 2013', '2003; 2007; 2011',
       '1996; 2000; 2004; 2008', '2004; 2008', '1996; 2000',
       '1993; 1997; 2001; 2005; 2009; 2013',
       '1991; 1995; 1999; 2003; 2007', '1993; 1997; 2001; 2005', 2007,
       '1987; 1991; 1995; 1999', '1996; 2000; 2004; 2008; 2012; 2016',
       '1977; 1981; 1985; 1989; 1993; 1997; 2001; 2005',
       '1995; 1999; 2003', '2007; 2011; 2015',
       '1995; 1999; 2003; 2007; 2011; 2015',
       '1989; 1993; 1997; 2001; 2005; 2009', 2011, 2003,
       '1991; 1995; 1999; 2003; 2007; 2011; 2015', 2001, '2007; 2011',
       '1983; 1987; 1991; 1995; 1999', '1995; 1999; 2003; 2007',
       '1997; 2001; 2005; 2009; 2013', '2005; 2009',
       '1985; 1989; 1993; 1997; 2001; 2005', 2005, 2014,
       '1994; 1998; 2002; 2006', '2001; 2005'], dtype=object)

In [14]:
#Creat a set of unique years
years = set()

for entry in reelection_years:
    
    try:
        values = entry.split(';')
    except AttributeError:
        values = [str(entry)]
        
    for i in values:
        i = i.strip()
        if i == 'nan':
            continue
        years.add(int(i))

In [38]:
working_df.shape

(131, 25)

In [15]:
#Reelection years
years

{1976,
 1977,
 1978,
 1980,
 1981,
 1982,
 1983,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016}

In [17]:
#Add re-election years as new features
shape = working_df.shape[0]
reelections = working_df.reelection

for year in years:
    working_df[year] = np.zeros(shape)
    for i in range(shape):
        try:
            if str(year) in reelections[i]:
                working_df[year][i] = 1
        except TypeError:
            if str(year) == str(reelections[i]):
                working_df[year][i] = 1
            continue #handling nan case

/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/ksenia/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [18]:
working_df.head()

,da_last_name,start year,reelection,left office,Unnamed: 5,female,black,law school,Unnamed: 9,Unnamed: 10,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Soares,2004,2008; 2012,NaN,NaN,0.0,1.0,Albany,"2012 - uncontested in general, contested in pr...",NaN,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,Clyne,2000,2004,2004.0,NaN,0.0,0.0,Albany,2004 - lost re-election in primary (D),NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Greenberg,1974,1978; 1982; 1986; 1990; 1994; 1988,2000.0,NaN,0.0,0.0,Albany (1948),retired in 2000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Slep,2011,2011; 2015,NaN,NaN,0.0,0.0,Syracuse (1988),2011 - uncontested,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,Parker,1997,2001; 2005; 2009,2010.0,won judge seat,0.0,0.0,Pace (1981),2009 - contested (R-C) 64.4%,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Left Office

In [41]:
working_df['left office'].unique()

array([   nan,  2004.,  2000.,  2010.,  2015.,  2009.,  2003.,  2005.,
        2007.,  1988.,  1982.,  2011.,  1995.,  2008.,  2014.,  1996.,
        2013.,  2002.,  2012.,  2006.,  1981.])

If the person has left the office, then we can still use their data for training purposes, but not for future predictions.

#### Unnamed: 5 column - Comments

In [42]:
working_df['Unnamed: 5'].unique()

array([nan, 'won judge seat', 'appoint to judge ', 'retired',
       'appointed before first election', 'elected as state sentator',
       'returned to office', 'left office to run for judge',
       'elected to judge', 'ran for judge', 'lost re-election',
       'lost re-election in primary',
       'appointed to fill vacancy, lost re-election', 'appointed in 2015',
       'appoint (then elected) to judge',
       'interim when DA left before the next election.',
       'elected to county judge', 'did not run for re-election',
       'first appointed', 'first appointed; left for judge position',
       'left for judge position', 'lost 2013 reelection',
       'lost re-elecdtion', 'appointed earlier in the year',
       'resigned to run after being appointed', 'ran for judge position',
       'appointed, lost election',
       'left office when appointed to be a Federal Judge',
       'retired from office', 'appointed in 1996', 'acting DA',
       'elected to Congress', 'lost 2005 election', 'retired in 2009',
       "Judge Judy's son", 'left office in 2007 for private practice',
       'originally appointed', 'elected to Supreme Court0',
       'left for private practice', 'retired in 2007, now judge',
       'not sure when he started?!', 'ran for another position'], dtype=object)

In [19]:
working_df.rename(index=str,columns={'Unnamed: 5':'comments'},inplace=True)

Need to figure out if and how these comments can be useful for us

### female

In [44]:
working_df['female'].unique()

array([  0.,   1.,  nan])

In [45]:
#Missing gender
working_df[working_df['female'].isnull()]

,da_last_name,start year,reelection,left office,comments,female,black,law school,Unnamed: 9,Unnamed: 10,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
29,Hubbard,2015,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,MacNeill,2014,2015,2015.0,"appointed to fill vacancy, lost re-election",NaN,NaN,NaN,2015 - lost primary,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,Giardino,1991,1995,1996.0,appoint (then elected) to judge,NaN,NaN,Albany,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,Cerio,1989,1993; 1997; 2001; 2005,2007.0,elected to judge,NaN,NaN,Buffalo,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,Lungen,1981,1985; 1989; 1993; 1997; 2001; 2005,2009.0,NaN,NaN,NaN,Brooklyn (1973),Stephen F. Lungen,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116,Jaffe,NaN,NaN,1981.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### black

In [46]:
working_df['black'].unique()

array([  1.,   0.,  nan])

In [47]:
#Missing race
working_df[working_df['black'].isnull()]

,da_last_name,start year,reelection,left office,comments,female,black,law school,Unnamed: 9,Unnamed: 10,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
12,Vargason,1995,1999; 2003,2003.0,retired,0.0,NaN,NaN,2003 - contested (R-C) 63.8%,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,Hubbard,2015,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,MacNeill,2014,2015,2015.0,"appointed to fill vacancy, lost re-election",NaN,NaN,NaN,2015 - lost primary,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,Giardino,1991,1995,1996.0,appoint (then elected) to judge,NaN,NaN,Albany,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,Cerio,1989,1993; 1997; 2001; 2005,2007.0,elected to judge,NaN,NaN,Buffalo,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,Lungen,1981,1985; 1989; 1993; 1997; 2001; 2005,2009.0,NaN,NaN,NaN,Brooklyn (1973),Stephen F. Lungen,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116,Jaffe,NaN,NaN,1981.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Law School

In [48]:
working_df['law school'].unique()

array(['Albany', 'Albany (1948)', 'Syracuse (1988)', 'Pace (1981)',
       'Howard', 'NYU', 'Syracuse (1995)', 'George Washington',
       'Tennessee', 'Buffalo', nan, 'Vermont (1992)', 'Illinois (1972)',
       'Albany (1978)', 'Syracuse (1984)', 'Albany (1962)',
       'Western New England (1971)', 'Western New England',
       'Fordham (1982)', 'Albany (1984)', 'Buffalo (1986)', 'Tulane',
       'New Hampshire  ', 'Albany 1993', 'Buffalo (1981)',
       'Western New England (1983)', 'Albany (1999)', 'Albany (1980)',
       '? (1978)', 'Pepperdine', 'Syracuse', 'Buffalo (1984)',
       'St. Johns (1961)', 'Syracuse (1991)', 'Syracuse (1997)',
       'Western New England (1986)', 'Albany (1979)',
       'Western New England (1978)', 'Fordham', 'Touro (1991)',
       'Georgetown (1982)', 'Yale (1948)', 'Albany (1977)',
       'Vermont (1991)', 'NYU (1984)', 'Syracuse (1976)', 'Detroit',
       'Albany (1974)', 'Boston College', 'New Hampshire (1984)',
       'Hofstra', 'NYU (1956)', 'Albany (1994)', 'St. Johns',
       'Western New England (1990)', 'Georgetown', 'Fordham (1988)',
       'Harvard', 'Washington and Lee (1981)', 'Pace (1986)',
       'Syracuse (1992)', 'Baltimore (1988)', 'Albany (1993)', 'Cornell',
       'Brooklyn (1973)', 'Syracuse (1980)', 'Suffolk',
       'Washington and Lee  ', 'Albany (1975)', 'Syracuse (1972)',
       'Penn State'], dtype=object)

In [20]:
#Separate graduation year
n = len(working_df['law school'])
university = []
graduation = []
for school in working_df['law school']:
    try:
        print(school)
        data = school.split('(')
        
        name = data[0].strip()
        grad_year = data[1].strip()
        university.append(name)
        graduation.append(grad_year[0:-1])
    except IndexError:
        university.append(name)
        graduation.append(0)
    except AttributeError:
        university.append(None)
        graduation.append(0)

Albany
Albany
Albany (1948)
Syracuse (1988)
Pace (1981)
Howard
NYU
Syracuse (1995)
George Washington
Tennessee
Buffalo
nan
nan
Vermont (1992)
Illinois (1972)
Albany (1978)
Syracuse (1984)
nan
Albany
Albany (1962)
nan
nan
Western New England (1971)
Western New England
Western New England (1971)
Fordham (1982)
nan
nan
Albany (1984)
NYU
Buffalo (1986)
Buffalo
Albany
Albany
Tulane
Albany
nan
New Hampshire
nan
Albany 1993
Albany
Buffalo (1981)
Western New England (1983)
Albany (1999)
Albany (1980)
nan
? (1978)
Pepperdine
Albany
Syracuse
Buffalo (1984)
NYU
St. Johns (1961)
Syracuse (1991)
nan
Buffalo
Syracuse (1997)
Syracuse (1984)
nan
nan
Buffalo
Syracuse
Western New England (1986)
nan
Albany (1979)
Western New England (1978)
Fordham
Touro (1991)
Fordham
Georgetown (1982)
Yale (1948)
nan
Albany (1977)
Vermont (1991)
NYU (1984)
Syracuse (1976)
Buffalo
Detroit
Albany (1974)
nan
Boston College
New Hampshire (1984)
nan
Hofstra
nan
NYU (1956)
Albany (1994)
Western New England (1983)
St. Johns
Albany
Western New England (1990)
NYU
Georgetown
Fordham (1988)
Harvard
St. Johns
Washington and Lee (1981)
nan
nan
nan
Vermont (1991)
Pace (1986)
Albany
nan
Syracuse (1992)
Syracuse
Baltimore (1988)
Albany (1993)
Cornell
St. Johns
Albany (1993)
Brooklyn (1973)
nan
nan
Syracuse (1980)
nan
nan
Suffolk
nan
Washington and Lee
nan
nan
nan
nan
St. Johns
Albany (1975)
nan
Syracuse (1972)
Buffalo
Penn State
George Washington

In [21]:
#add university and graduation to the dataframe
working_df['university'] = university
working_df['graduation'] = graduation

In [51]:
working_df.head()

,da_last_name,start year,reelection,left office,comments,female,black,law school,Unnamed: 9,Unnamed: 10,...,2009,2010,2011,2012,2013,2014,2015,2016,university,graduation
0,Soares,2004,2008; 2012,NaN,NaN,0.0,1.0,Albany,"2012 - uncontested in general, contested in pr...",NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Albany,0
1,Clyne,2000,2004,2004.0,NaN,0.0,0.0,Albany,2004 - lost re-election in primary (D),NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Albany,0
2,Greenberg,1974,1978; 1982; 1986; 1990; 1994; 1988,2000.0,NaN,0.0,0.0,Albany (1948),retired in 2000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Albany,1948
3,Slep,2011,2011; 2015,NaN,NaN,0.0,0.0,Syracuse (1988),2011 - uncontested,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,Syracuse,1988
4,Parker,1997,2001; 2005; 2009,2010.0,won judge seat,0.0,0.0,Pace (1981),2009 - contested (R-C) 64.4%,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Pace,1981

### 'Unnamed: 9'

In [52]:
working_df['Unnamed: 9'].unique()

array(['2012 - uncontested in general, contested in primary (D-I-WF) 57.2%',
       '2004 - lost re-election in primary (D)', 'retired in 2000',
       '2011 - uncontested', '2009 - contested (R-C) 64.4%', nan,
       '2011 - uncontested -both (D-R-C)', '2015 - contested (R-C) 50.6%',
       '2011 - uncontested - both (D-WF) ', '2013 - contested',
       '2009 - lost re-election (D-I-C)', '2011 - contested (R-C-I) 63.4%',
       '2003 - contested (R-C) 63.8%', '2013 - uncontested',
       '2001 - uncontested', '2015 - uncontested - both (R-C)',
       '2007 - lost re-election in primary 36%',
       '2015 - contested (R-C) 62.3%', '2011 - contested 55.0%',
       '2007 - contested 54.3%', '*** former porn star',
       '2012 - uncontested', '2004 - uncontested',
       '2013 - uncontested (R-C)', '2009 - contested (R) ',
       '2015 - contested primary (72.5%) and general election (D-WF) 59.7%',
       '2015 - lost primary', '2014 - contested (R-C) 60.4%',
       '2015 - uncontested', '2012 - contested (R-C-I) 57.5%',
       '2008 - uncontested', '2013 - contested (D) 74.7%',
       '2013 - contested (R-C) 25.3%', '2015 - contested',
       '2012 - contested (D-I) 45.3%', '2012 - contested (R) 36.5%',
       '2012 - uncontested (R-I-C)', '2008 - lost re-election]',
       '2011 - contested (D) 57.7%', '2007 - contested (D-I) 68.9%',
       '2012 - uncontested (R-C)', '2013 - contested (D-I-WF) 58.7%',
       '2005 - contested - primary (D) 47.0%',
       '2013 - contested (D) 84.2%', '2003 - uncontested',
       '2012 - contested (R - C -I) 65.9%', '2009 - uncontested (R-I-C)',
       '2011 - contested 74.8%', '2007 - uncontested',
       '2011 - uncontested - both (R - I - C)',
       '2003 - uncontested (R-I-C)', '2011 - uncontested - both (D-R-C)',
       '2011 - contested 52.8%', '2011 - contested - both (R-I) 67.5%',
       '2011 - uncontested-both (D-R-C-I-WF)',
       '2013 - contested - beat incumbent (R-I-C) 52%',
       '2014 - uncontested', '2013 - uncontested ',
       '2013 - uncontested (D-I-C-WF)', '2009 - contested  ',
       '2013 - uncontested-both(R-D-C-I)', '2013 - uncontested (R-I-C)',
       'Stephen F. Lungen', '2013 - contested - both (R) ',
       '2011 - uncontested (R) ', '2013 - uncontested (D)',
       '2001- uncontested', '2013 - contested (R-I-C)',
       '2009 - contested (R-C)  ', '2005 - uncontested',
       '2011 - uncontested (R-C)', '2013 - contested 50.8%',
       '2013 - contested 49.2%'], dtype=object)

In [22]:
working_df.rename(index=str,columns={'Unnamed: 9':'contested'},inplace=True)

Need to clarify what information we need from this field

### Handling empty columns

In [54]:
working_df['Unnamed: 10'].unique()

array([ nan])

In [23]:
#Drop empty column
working_df.drop('Unnamed: 10',axis=1,inplace=True)

In [56]:
working_df['Unnamed: 11'].unique()

array([nan, '2009 - uncontested', '2011 - contested (R) ',
       '2004 - uncontested', '2008 - contested', '2005 - uncontested',
       '2009 - contested (R) 71.1%'], dtype=object)

In [57]:
working_df['Unnamed: 12'].unique()

array([nan, '* beat long time incumbent ', '2005 - contested',
       '2009 - uncontested', '2011 - uncontested', 'beat Eugene Keeler',
       '2003 - uncontested', '2012 - contested (D) ', '2008 - uncontested',
       '2007 - uncontested', '2008 - contested ', '2000 - uncontested',
       '2009 - contested (R-C) 50.5%',
       '2005 - contested - beat incumbent in primary',
       '2009 - uncontested - both (D-R-C-WF)',
       '2008 - contested in both (R) - beat incumbent',
       '2009 - contested - general (D) 91.2%', '2007 - contested ',
       '2007 - contested (R-C-I) 64.9%', '2005 - uncontested (R-C)',
       '2007 - contested 50.3%', '2009 - uncontested (R-C)',
       '2009 - contested (R-I-C-WF) 67.5%', '2009 - uncontested (D-WF)',
       '1997 - contested', '2011 - contested 60.2%', '1999 - uncontested',
       '2009 - uncontested (R-I-C)', '2007 - uncontested (R-C)',
       '2010 - uncontested'], dtype=object)

In [58]:
working_df['Unnamed: 13'].unique()

array([nan, '2007 - uncontested - both (D-R-C)',
       '2007 - contested (D-WF) 56.8% (uncontested primary)',
       '2007 - contested (R-C) 58.5%', '1999 - uncontested',
       '2000 - uncontested', '2009 - contested (D-?) 54.2%',
       '2007 - contested - general (R-I-C) 70.4%',
       '2005 - uncontested (R-I-C)', '2009 - uncontested',
       '2009 - uncontested-both (R-D-C-I)',
       '2009 - contested (R-I-C) 69.0% - open seat'], dtype=object)

In [59]:
working_df['Unnamed: 14'].unique()

array([nan, '2005 - contested (R-C) 58.9%', '2007 - uncontested',
       '2004 - uncontested'], dtype=object)

In [60]:
working_df['Unnamed: 15'].unique()

array([nan, '2008 - contested (D) - beat incumbent', '2003 - uncontested',
       '1996 - contested', 'beat Julie Garcia', '1996 - uncontested',
       '2005 - uncontested', '1999 - uncontested', '2007 - uncontested',
       '2005 - uncontested (R-C)', '2005 - contested (D-WF)',
       '1993 - contested', '2005 - uncontested (R-I-C)'], dtype=object)

In [61]:
working_df['Unnamed: 16'].unique()

array(['2008 - contested - both - primary 60.5%, general 73.2%', nan,
       '2003 - uncontested', '2005 - uncontested - both (R-D-C)',
       '2000 - uncontested', '2005 - contested - primary (D) 53.0%',
       '2009 - contested -primary (D) 44.3%',
       '2003 - contested (R-C-I) 65.6%', '2005 - contested 70.1%'], dtype=object)

In [62]:
working_df['Unnamed: 17'].unique()

array([nan, '2005 - uncontested-both (R-D-C-I)'], dtype=object)

In [63]:
working_df['Unnamed: 18'].unique()

array([nan, '1999 - uncontested', '2003 - uncontested',
       '2001 - uncontested (R-C)'], dtype=object)

In [64]:
working_df['Unnamed: 19'].unique()

array([nan, '2003 - uncontested - both - (D)'], dtype=object)

In [65]:
working_df['Unnamed: 20'].unique()

array([nan, '1999 - uncontested'], dtype=object)

In [66]:
working_df['Unnamed: 21'].unique()

array([ nan])

In [24]:
#Drop empty column
working_df.drop('Unnamed: 21',axis=1,inplace=True)

In [68]:
working_df['Unnamed: 22'].unique()

array(['2004 - contested - 54.6%', nan, '1995 - uncontested'], dtype=object)

In [69]:
working_df['Unnamed: 23'].unique()

array([ nan])

In [25]:
#Drop empty column
working_df.drop('Unnamed: 23',axis=1,inplace=True)

In [71]:
working_df['Unnamed: 24'].unique()

array([nan, '1991 - uncontested'], dtype=object)

### Adding contested marker

In [26]:
def election_year(column):
    '''
    Takes a column and extracts year and indicator of whether a candidate was contested, 
    and if a candidate lost
    '''
    n = len(column)
    years = np.zeros(n)
    contested = np.zeros(n)
    lost = np.zeros(n)
    for i in range(n):
        row = column[i]
        try:
            year = int(row[0:4]) #try to extract row. If it's not a year, skip
            years[i] = year
            if 'uncontested' in row:
                contested[i] = 0
            elif 'contested' in row:
                contested[i] = 1
            elif 'lost' in row:
                contested[i] = 1
                lost[i] = 1
        except (TypeError, ValueError):
            continue
    return years, contested, lost

In [27]:
#Extract year and whether contested from data
years, contested, lost = election_year(working_df.contested)

In [28]:
working_df['contested_years'] = years

In [29]:
#First pass over contested years
years_contested = {}
for year in working_df.contested_years:
    cont_year = np.zeros(len(working_df.contested_years))
    if year >0:
        for i in range(len(working_df.contested_years)):
            if working_df.contested_years[i] == year:
                cont_year[i] = contested[i]
        years_contested[year] = cont_year

In [76]:
years_contested

{2001.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2003.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2004.0: array([ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2005.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2007.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2008.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2009.0: array([ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2011.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2012.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2013.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
         1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.]),
 2014.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]),
 2015.0: array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])}

In [77]:
working_df.columns

Index([   'da_last_name',      'start year',      'reelection',
           'left office',        'comments',          'female',
                 'black',      'law school',       'contested',
           'Unnamed: 11',     'Unnamed: 12',     'Unnamed: 13',
           'Unnamed: 14',     'Unnamed: 15',     'Unnamed: 16',
           'Unnamed: 17',     'Unnamed: 18',     'Unnamed: 19',
           'Unnamed: 20',     'Unnamed: 22',     'Unnamed: 24',
                'county',              1976,              1977,
                    1978,              1980,              1981,
                    1982,              1983,              1985,
                    1986,              1987,              1988,
                    1989,              1990,              1991,
                    1992,              1993,              1994,
                    1995,              1996,              1997,
                    1998,              1999,              2000,
                    2001,              2002,              2003,
                    2004,              2005,              2006,
                    2007,              2008,              2009,
                    2010,              2011,              2012,
                    2013,              2014,              2015,
                    2016,      'university',      'graduation',
       'contested_years'],
      dtype='object')

In [30]:
#Extract year and whether contested from data - part II, extra columns
years2, contested2, lost2 = election_year(working_df['Unnamed: 11'])

In [31]:
def update_contested_years(years, new_years, new_contested):
    '''
    Update years dictionary with new entries
    '''
    n = len(new_years)
    for i in range(n):
        year = new_years[i]
        if year>0:
            try:
                years[year][i] = new_contested[i]
            except KeyError:
                years[year] = np.zeros(n)
                years[year][i] = new_contested[i]
        
    return years

In [32]:
update1 = update_contested_years(years_contested, years2, contested2)

In [33]:
#Extract year and whether contested from data - part III, extra columns
years3, contested3, lost3 = election_year(working_df['Unnamed: 12'])

In [34]:
update2 = update_contested_years(update1, years3, contested3)

In [35]:
#Perform the rest of updates

for k in range(12):
    col = 'Unnamed: '+str(12+1)
    years4,contested4,lost4 = election_year(working_df[col])
    update = update_contested_years(update2,years4,contested4)
    update2 = update

In [36]:
#Sort years
sorted_years = sorted(update2.keys())

In [37]:
#Add contested years information to the dataframe
for year in sorted_years:
    print(year)
    working_df[str(int(year))+'-contested'] = update2[year]

1997.0
1999.0
2000.0
2001.0
2003.0
2004.0
2005.0
2007.0
2008.0
2009.0
2010.0
2011.0
2012.0
2013.0
2014.0
2015.0

In [86]:
working_df.head()

,da_last_name,start year,reelection,left office,comments,female,black,law school,contested,Unnamed: 11,...,2005-contested,2007-contested,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested
0,Soares,2004,2008; 2012,NaN,NaN,0.0,1.0,Albany,"2012 - uncontested in general, contested in pr...",NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Clyne,2000,2004,2004.0,NaN,0.0,0.0,Albany,2004 - lost re-election in primary (D),NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Greenberg,1974,1978; 1982; 1986; 1990; 1994; 1988,2000.0,NaN,0.0,0.0,Albany (1948),retired in 2000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Slep,2011,2011; 2015,NaN,NaN,0.0,0.0,Syracuse (1988),2011 - uncontested,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Parker,1997,2001; 2005; 2009,2010.0,won judge seat,0.0,0.0,Pace (1981),2009 - contested (R-C) 64.4%,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
working_df.columns

Index([   'da_last_name',      'start year',      'reelection',
           'left office',        'comments',          'female',
                 'black',      'law school',       'contested',
           'Unnamed: 11',     'Unnamed: 12',     'Unnamed: 13',
           'Unnamed: 14',     'Unnamed: 15',     'Unnamed: 16',
           'Unnamed: 17',     'Unnamed: 18',     'Unnamed: 19',
           'Unnamed: 20',     'Unnamed: 22',     'Unnamed: 24',
                'county',              1976,              1977,
                    1978,              1980,              1981,
                    1982,              1983,              1985,
                    1986,              1987,              1988,
                    1989,              1990,              1991,
                    1992,              1993,              1994,
                    1995,              1996,              1997,
                    1998,              1999,              2000,
                    2001,              2002,              2003,
                    2004,              2005,              2006,
                    2007,              2008,              2009,
                    2010,              2011,              2012,
                    2013,              2014,              2015,
                    2016,      'university',      'graduation',
       'contested_years',  '1997-contested',  '1999-contested',
        '2000-contested',  '2001-contested',  '2003-contested',
        '2004-contested',  '2005-contested',  '2007-contested',
        '2008-contested',  '2009-contested',  '2010-contested',
        '2011-contested',  '2012-contested',  '2013-contested',
        '2014-contested',  '2015-contested'],
      dtype='object')

In [38]:
output_df = working_df.copy()
output_df.drop(['reelection', 'comments', 'law school', 'contested','contested_years', 'Unnamed: 11', 'Unnamed: 12',
               'Unnamed: 13', 'Unnamed: 14','Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
               'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 22','Unnamed: 24' ], axis=1, inplace = True)

In [39]:
output_df.head()

,da_last_name,start year,left office,female,black,county,1976,1977,1978,1980,...,2005-contested,2007-contested,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested
0,Soares,2004,NaN,0.0,1.0,Albany,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Clyne,2000,2004.0,0.0,0.0,Albany,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Greenberg,1974,2000.0,0.0,0.0,Albany,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Slep,2011,NaN,0.0,0.0,Allegany,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Parker,1997,2010.0,0.0,0.0,Allegany,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
output_df.columns

Index([  'da_last_name',     'start year',    'left office',         'female',
                'black',         'county',             1976,             1977,
                   1978,             1980,             1981,             1982,
                   1983,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,     'university',     'graduation', '1997-contested',
       '1999-contested', '2000-contested', '2001-contested', '2003-contested',
       '2004-contested', '2005-contested', '2007-contested', '2008-contested',
       '2009-contested', '2010-contested', '2011-contested', '2012-contested',
       '2013-contested', '2014-contested', '2015-contested'],
      dtype='object')

In [41]:
output_df.to_csv('clean_DA.csv')